body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top{
    height: 80px;
    margin-top: -30px;
    background: whitesmoke;
    line-height: 80px;
}
#left{
    left: 80px;
    position: absolute;
    line-height: 80px;
}
#right{
    right: 80px;
    position: absolute;
    line-height: 80px;
}
#top>p{
    margin-left: 90px;
    font-size: 2em;
}
#top>p>a{
    text-decoration: none;
}
#body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slidershow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slidershow--image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    -webkit-animation-name: kenburns;
    animation-name: kenburns;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.slidershow--image:nth-child(2) {
    -webkit-animation-name: kenburns-2;
    animation-name: kenburns-2;
    z-index: 2;
}

